
.navbar-brand img{
    width: 424px;
}
.navbar-brand img:hover{
    
    transform: rotate(360deg);
    transition: transform 1s ease-in-out;
}
.bg-color{
    background-color: #FFFBF0;
}
 li a:hover {
    background-color: #F1F1F1;
    border-radius: 3px;
    transform: scale(1.2);
    transition: transform 1s ease-in-out;
    
}
li a:active{
    background-color: red;
    border-radius: 5px;
}
li a:focus{
  border: 10px;
}
.winner-img img{
    height: 400px;
}
.btn img{
    height: 30px;
}
.btn-color{
    background-color: #8AA521;
}
h1,h2, h3, h5{
    color: #434663;
}
.dolor-color{
    color: #FABE4C;
}
.card-jacket{
    border: 0;
    background-color: #F1F1F1;

    }
.card-height{
    height: 300px;
}
 .main-img{
  height: 257px;
  width: 200px;
  background-color:#F1F1F1;
}

.delivery-img{
  height: 100px;  
}
.transport img{
    height: 350px;
    width: 400px;
}
.bg-color{
    background-color:#FFFFFF ;
    
}
.follow-icon ul li img{
    height: 40px;
    width: 40px;
} 
ul li{
    list-style: none;
    margin: 5px;
}
.follow-icon ul li img:hover{
     transform: rotate(360deg);
    /* transform: scale(1.2); */
     transition:transform 1s ease-in-out;
}